{% load static %}

  <!--<div class="usa-grid usa-footer-return-to-top"> <a href="https://standards.usa.gov/page-templates/docs/#">Return to top</a> </div>-->
  <div class="usa-footer-primary-section" style="margin-top: 4rem;">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav">
        <!-- <ul class="usa-unstyled-list">
          <li class="usa-width-one-fourth usa-footer-primary-content"><a class="usa-footer-primary-link" href="https://wwwcfdev.nlm.nih.gov/ST/internal/webDS/5/WORKAREA/wendlingd/RepairPrioritizer/index.cfm">Search logs</a> </li>
          <li class="usa-width-one-fourth usa-footer-primary-content"><a class="usa-footer-primary-link" href="https://wwwcfdev.nlm.nih.gov/ST/internal/webDS/5/WORKAREA/wendlingd/RepairPrioritizer/index.cfm">Repairs</a> </li>
          <li class="usa-width-one-fourth usa-footer-primary-content"><a class="usa-footer-primary-link" href="https://wwwcfdev.nlm.nih.gov/ST/internal/webDS/5/WORKAREA/wendlingd/content/index.cfm">Optimization</a> </li>
        </ul> -->
      </nav>
    </div>
  </div>
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half"> <img class="usa-footer-logo-img" src="{% static 'assignment/img/logo-img.png' %}" alt="Logo image">
        <h3 class="usa-footer-logo-heading">Web Decision Support for NLM Main</h3>
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <address>
        <p>For assistance, contact Dan Wendling</p>
        <a href="mailto:dan.wendling@nih.gov">dan.wendling@nih.gov</a>
        </address>
      </div>
    </div>
  </div>

<!-- Update the link path to where your JavaScript file is located. For example: /path/to/your/assets/js/lib/uswds.min.js --> 
  <script language="javascript" src="{% static 'assignment/js/uswds.min.js' %}"></script>
<!--<footer class="demo-footer">
  <div class="demo-footer-content"> <a class="usa-button usa-button-outline-inverse" href="https://standards.usa.gov/page-templates/#documentation-page">Back to site</a>
    <p class="demo-footer-title">Documentation template</p>
  </div>
</footer>-->
